<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="hostdomain" value="http://localhost:39836/"/>-->
    <add key="hostdomain" value="https://docsvisionmail.azurewebsites.net/"/>
   </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
